.Details_container {
    height: fit-content;
    background: black;
    width: 100vw;
    max-width: 100vw;
}

.Details_header {
    display: flex;
    justify-content: space-evenly;
    color: rgb(44, 211, 183);
    flex-wrap: wrap;
}

.Details_section p {
    font-family: 'Playfair Display', sans-serif;
}

.Details_section p:nth-child(1) {
    font-size: 3vw;
    transition: .5s;
}

.Details_section p:nth-child(1):hover {
    color: rgb(115, 118, 121)
}

.Details_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Details_section p:nth-child(2) {
    font-size: 2vw;
    color: white;
}

@media only screen and (max-width: 991px) {
    .Details_header {
        flex-direction: column;
    }

    .Details_section p:nth-child(2) {
        font-size: 4vw;
    }

    .Details_section p:nth-child(1){
        font-size: 6vw;
    }
}