.Details_container {
    height: fit-content;
    background: black;
    width: 100%;
    max-width: 100%;
}

.Details_header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    color: rgb(44, 211, 183);
    flex-wrap: wrap;
}

.title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3vw;
    transition: .5s;
}

.title:hover {
    color: rgb(115, 118, 121)
}

.Details_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Details_section p {
    font-family: 'Playfair Display', sans-serif;
}

.Details_section p:nth-child(2) {
    font-size: 2vw;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Details_section {
        width: 100%;
    }
}

@media only screen and(max-width: 991px) {
    .Details_section p:nth-child(2) {
        font-size: 6vw;
    }

    .title p{
        font-size: 8vw;
    }
}