.NACTOY_container {
    height: 450px;
    width: 100%;
    max-width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

.NACTOY_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img {
    height: 400px;
    width: 500px;
    background: url(../../assets/car_oty.PNG);
}

.img:hover {
    transform: scale(1.05);
    transition: .5s;
}

.NACTOY_content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NACTOY_content h1 {
    font-size: 30px;
    color: rgb(104, 215, 197);
    transition: .5s;
}

.NACTOY_content h1:hover {
    color: rgb(115, 118, 121)
}

.NACTOY_content p {
    font-size: 20px;
    color: rgb(201, 201, 201)
}