.header_container {
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.text {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 10%;
}

.name {
    font-size: 100px;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.phrase {
    font-weight: 600;
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.image {
    width: 100vw;
    height: 1000px !important;
    object-fit: cover;
}

.elantra_images {
    transition: 1s ease-in;
}

.elantra_images active {
    transition: 1s ease-in;
}

.left_arrow {
    position: absolute;
    z-index: 10;
    color: black;
    left: 70px;
    cursor: pointer;
}

.right_arrow {
    position: absolute;
    z-index: 10;
    color: black;
    right: 70px;
    cursor: pointer;
}

#arrows {
    width: 50px;
    height: 100px;
    transition: .5s;
}

#arrows:hover {
    background: rgba(249, 249, 249, 0.5);
    height: 100px;
    width: 50px;
}