.Specifications_container {
    height: fit-content;
    background: rgb(63, 62, 62);
    display: flex;
    width: 100%;
    max-width: 100%;
}

.Specifications_content {
    display: flex;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.Specifications_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
    flex-direction: column;
    color: white;
    text-shadow: 5px 5px 5px black;
    margin-top: 10px;
    text-align: center;
}

.Specifications {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    color: white;
}

.Specifications_info {
    width: fit-content;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Specifications_name {
    color: rgb(44, 211, 183);
}

.Specifications_info li {
    margin-bottom: 20px;
}

.Specifications_info h1:nth-child(3) {
    color: rgb(44, 211, 183);
}

.Specifications_info:hover {
    background: rgba(124, 124, 124, 0.3);
    border-radius: 40px;
}

.Specifications_info hr {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.individual_button {
    background: rgba(124, 124, 124, 0.6);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(44, 211, 183);
    font-size: 25px;
    transition: .5s;
}

.individual_button:hover {
    background: rgb(44, 211, 183);
    color: black;
}

@media only screen and (max-width: 991px) {
    .Specifications {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Specifications_info {
        width: 70%;
        margin: 20px 0px;
    }

    .Specifications_text h1 {
        font-size: 25px;
    }
}